<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>It Just Works Status.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9C1DA9821CC8B9D100128371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C1DA9961CC8B9D100128371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C1DA9A11CC8B9D200128371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
